extends layout

block content
    form(method='POST', action=`/users/${id}?_method=DELETE`)
        input(class="form-control", pattern=`.{1,}`, required='required', name='id')
        button(type='submit') DELETE